@import "tailwindcss";

@theme {
  --color-white: #FFFFFF;
  --color-gray-light: #D9D9D9;
  --color-purple-dark: #291C3A;
  --color-purple: #8221D0;
  --color-black: #000000;
  --color-purple-deep: #331C52;
  --color-purple-alt: #8121D0;
}



/* Estilos globales */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif; /* Cambia por la fuente que uses */
  box-sizing: border-box;
  scroll-behavior: smooth; /* Suaviza el scroll para una mejor UX */
  background-color: var(--color-white); /* Color de fondo predeterminado */
  color: var(--color-black); /* Color de texto predeterminado */
}



/* Estilo responsivo general para contenedores */
.container {
  width: 100%;
  max-width: 1280px; /* Cambia según tus necesidades */
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem; /* Ajusta el espaciado lateral */
  padding-right: 1rem;
}
